/* Place CSS styles here */
*{
    margin: 0px;
    margin-right: 100px;
    padding: 0px;
    }
body{
    background-color: rgb(199, 209, 199);
    color:rgb(21, 36, 39);
    text-align: left;
    
    
}
.main_container{
    width: 1533px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;}

h1 {font-family: "Josefin Sans", sans-serif;font-weight: 500; font-size: 20px;font-style: normal;margin-left: 200px; margin-top: 40px;}
h2 {font-family: "Inter", sans-serif;font-weight: 400;font-style: normal;margin-left: 200px; margin-top: 50px;}
h3 {font-family: "Inter", sans-serif;font-weight: 600; font-size: 15px;font-style: normal;margin-left: 200px;}

img {
    display: block;
    margin-left: 1000px;
    margin-top: 20px;
  }
img {
    position: absolute;
    top: 0 px;
    left: 0 px;
    z-index: 1;
}


